.title{
    text-align: center;
    color: white;
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #6C757D;
    font-size: 5em;
    margin: 0.5em 0;
    padding: 1em 0;
}
.latest