.title{
    text-align: center;
    color: white;
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #6C757D;
    font-size: 5em;
    margin: 0.5em 0;
    padding: 1em 0;
}
.Rochester{
    font-family: "Rochester", cursive;
}
.category-image{
    width: 90%;
    height: 60vh;
}
.latestMeals{
    background-color: #ADB5BD;
    width: 90%;
    /* height: 6em; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}
.meal{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 1em;

}
.mealImage{
    object-fit: fill;
    width: 11em;
    height: 24vh;
    margin-bottom: 1em;
}
hr{
    border: 0.5vh solid #000000;
    opacity: 1;
}
.content{
    width: 75%;
    overflow-wrap: anywhere;
}
.category{
    align-self: center;
    /* height: 50vh; */
}

.meals-show{
    background-color: #343A40;
    width: 86%;
    margin: auto;
    justify-content:space-around;
    padding: 0 10em;
    margin-bottom: 4em;
}